version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  api:
    build: .
    restart: unless-stopped
    environment:
      - PORT=8080
      - MONGO_URI=mongodb://mongo:27017/mlm
      - JWT_SECRET=devsecret
      - JWT_REFRESH_SECRET=devrefresh
      - OTP_EXP_MIN=10
      - RAZORPAY_KEY_ID=
      - RAZORPAY_KEY_SECRET=
      - WEB_BASE_URL=http://localhost:8080
      - SMTP_HOST=
      - SMTP_USER=
      - SMTP_PASS=
      - NODE_ENV=development
    ports:
      - "8080:8080"
    depends_on:
      - mongo
volumes:
  mongo_data:

